.equalize-column {
  vertical-align: bottom;
  display: inline-block;

  font-size: 0;
  line-height: 0;

  background: pink;
  border-top: 2px solid red;
}

.equalize-container {
  vertical-align: bottom;
}